/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
}

h1, h2, p {
  margin-bottom: 30px;
}

h1 {
  font-weight:800;
  font-size: 3rem;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 70%;
  height: 600px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  height: 600px;
}

.dark-bg {
  display: flex;
  width: 70%;
  height: 600px;
}

.grey-bg {
  background-color: #F6F6F6;
}

.border {
  border: 2px dashed black;
}

.border-white {
  border: 2px dashed white;
}

/*HEADER*/
header{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100px;
  background-color: #255EE9;
}

header .h-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 60px;
  margin: 0 auto;
}

header .menu ul{
  display: flex;
  list-style: none;
}

header .menu ul li{
  margin: 0 15px;
}

header .menu ul li a{
  color: white;
}

header .menu ul li a:hover{
  text-decoration: underline;
}

header .login a {
  padding: 12px;
  background-color: white;
  border-radius: 20px;
  color: black;
}

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 520px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  text-align: center;
  color: white;
}

.jumbotron .box-content{
  width: 50%;
}

.jumbotron .content #scarica {
  padding: 12px;
  background-color: white;
  border-radius: 20px;
  color: black;
  margin-right: 15px;
}

.jumbotron .content #browser {
  padding: 12px;
  background-color: black;
  border-radius: 20px;
  color: white;
}

/*MAIN*/ 
main section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}

main .image-box {
  display: flex;
  align-self: center;
  min-width: 70%;
  height: 500px;
}

main .text-box {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 500px;
}

main .larger {
  display: flex;
  justify-content: center;
  height: 1400px;
}

main .larger-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 1300px;
}

main .larger-box h1 {
  margin-bottom: 25px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta a {
  color: white;
  background-color: #8EA1E1;
  padding: 12px;
  border-radius: 20px;
}

main section .container .larger-box h1 {
  text-align: center;
}

main section .container .larger-box p {
  text-align: center;
}

/*FOOTER*/
footer .top {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #23272A;
  border-bottom: 3px solid #F6F6F6;
}

footer .bigger-box {
  display: flex;
  align-self: center;
  width: 30%;
  height: 500px;
  background-color: #F08080;
}

footer .menu-box-container {
  display: flex;
  align-self: center;
  width: 70%;
  height: 500px;
  background-color: #20B2AA;
}

footer .menu-box {
  display: flex;
  align-self: center;
  width: calc(100% / 4);
  height: 500px;
}

footer .bottom {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #23272A;
}

footer nav {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 75px;
  margin: 0 auto;
  background-color: #7FFFD4;
}

footer .logo, .button {
  background-color: #FFB6C1;
  padding: 5px;
}