/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
}

h1, h2, p {
  margin-bottom: 30px;
}

h1 {
  font-weight:800;
  font-size: 3rem;
}

h2 {
  font-weight: 800;
  font-size: 2.2rem;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: flex;
  width: 70%;
  height: 600px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  height: 600px;
}

.filter-gray {
  filter: invert(97%) sepia(3%) saturate(232%) hue-rotate(295deg) brightness(116%) contrast(93%);
  width: 100%;
  margin-bottom: -15px;
}

.filter-gray-flipped {
  filter: invert(97%) sepia(3%) saturate(232%) hue-rotate(295deg) brightness(116%) contrast(93%);
  width: 100%;
  margin-bottom: -15px;
  transform: scale(-1, -1);
}

.dark-bg {
  display: flex;
  width: 70%;
  height: 600px;
}

.grey-bg {
  background-color: #F6F6F6;
}

/*HEADER*/
header{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100px;
  background-color: #255EE9;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 60px;
  margin: 0 auto;
}

header .logo img {
  vertical-align: middle;
}

header .menu ul{
  display: flex;
}

header .menu ul li{
  margin: 0 15px;
}

header .menu ul li a{
  color: white;
}

header .menu ul li a:hover{
  text-decoration: underline;
}

header .login a {
  padding: 12px;
  background-color: white;
  border-radius: 20px;
  color: black;
}

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 520px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  text-align: center;
  color: white;
}

.jumbotron .box-content{
  width: 50%;
}

.jumbotron .content #scarica {
  padding: 12px;
  background-color: white;
  border-radius: 20px;
  color: black;
  margin-right: 15px;
}

.jumbotron .content #browser {
  padding: 12px;
  background-color: black;
  border-radius: 20px;
  color: white;
}

/*MAIN*/ 
main section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}

main .image-box {
  display: flex;
  align-self: center;
  min-width: 60%;
  height: 500px;
}

main .text-box {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 500px;
}

main .larger {
  display: flex;
  justify-content: center;
  height: 1400px;
}

main .larger-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 1300px;
}

main .larger-box h1 {
  margin-bottom: 25px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta img {
  width: 60%;
}

.cta a {
  color: white;
  background-color: #8EA1E1;
  padding: 12px;
  border-radius: 20px;
}

main section .container .larger-box h1 {
  text-align: center;
}

main section .container .larger-box p {
  text-align: center;
}

/*FOOTER*/
footer .top {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #23272A;
  border-bottom: 3px solid #F6F6F6;
}

footer .bigger-box {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 30%;
  height: 500px;
}

.inner-box {
  display: inline-block;
  width: 90%;
  margin-bottom: 25px;
  color: white;
}

.inner-box h2 {
  color: #7289DA;
}

.inner-box img {
  width: 30px;
  vertical-align: middle;
}

select#lang-select {
  border: none;
  background-color: #23272A;
  color: white;
  font-size: 1rem;
}

.social {
  width: 90%;
  font-size: 1.6rem;
  color: white;
}

.social i {
  margin-right: 10px;
}

footer .menu-box-container {
  display: flex;
  align-items: center;
  align-self: center;
  width: 70%;
  height: 500px;
}

footer .menu-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% / 4);
  height: 500px;
}

.menu-box ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}

#prodotto, #compagnia, #risorse, #normative {
  color: #7289DA;
  font-weight: bold;
}

.menu-box ul li a {
  color: white;
}

.menu-box ul li a:hover {
  text-decoration: underline;
}

footer .bottom {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #23272A;
}

footer .bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 70%;
  height: 150px;
  margin: 0 auto;
}

footer .logo img {
  vertical-align: middle;
}

footer .signup a {
  padding: 10px;
  background-color: #8EA1E1;
  border-radius: 20px;
  color: white;
}